.names {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
}

.information {
	font-family: 'Suez One', serif;
	font-size: 15px;
	text-align: left;
	position: relative;
	right: -30px;
}

.face {
	width: 200px;
	float: left;
}

.icons{
	width: 40px;
	position: relative;
	top: 20px;
	margin-right: 10px;
	overflow: auto; 
}

/* phone */
@media screen and (max-width: 499px) {

	.top {
		font-size: 30px;
		font-family: 'Homemade Apple', cursive;
		max-width: 500px;
    	margin: auto; 
    	text-align: center;
    	position: relative;
	}

	.squares {
	 	max-width: 500px;
	 	height: 320px;
	 	margin: 10px 0 10px 0;
	  	border: 5px black solid;
		background-color: white;
		transition: transform 0.5s;
		-webkit- transition: -webkit-transform 0.5s;
	}

	body {
		background-color: gray;
	}

	.squares:hover {
		transform: scale(1.1);
        -webkit-transform: scale(1.1);
	}

	.hamburger {
		width: 40px;
		position: relative;
	}

}

/* PC */	
@media screen and (min-width: 500px) {

	.top {
		font-size: 15px;
		font-family: 'Homemade Apple', cursive;
		position: fixed;
  		top: 0;
  		left: 0;
		height: 100px;
		background-color: #66ffff;
		width: 100%;
		z-index: 1;
	}

	.squares {
		width: 500px;
	 	height: 320px;
	  	border: 5px black solid;
		background-color: white;
		margin: 10px;
		display: inline-block;
		}

	body {
		background-color: #ffff99;
	}

	.firstline {
 		margin-top: 100px;
	}

	.hamburger {
		width: 00px;
		position: relative;
	}
}