.names {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
}

.information {
	font-family: 'Suez One', serif;
	font-size: 15px;
	text-align: left;
	position: relative;
	right: -30px;
}

.face {
	width: 200px;
	float: left;
}

.icons{
	width: 40px;
	position: relative;
	top: 20px;
	margin-right: 10px;
	overflow: auto; 
}

/* phone */
@media screen and (max-width: 499px) {

	.top {
		font-size: 50px;
		font-family: 'Homemade Apple', cursive;
		max-width: 500px;
    	margin: auto; 
    	text-align: center;
	}

	.squares {
	 	max-width: 500px;
	 	height: 320px;
	 	margin: 0 auto; 
	  	border: 5px black solid;
		background-color: white;
	}

	body {
		background-color: gray;
	}
}

/* PC */	
@media screen and (min-width: 500px) {

	.top {
		font-size: 50px;
		font-family: 'Homemade Apple', cursive;
		max-width: 500px;
    	margin: auto; 
    	text-align: center;
    	position: fixed;
	}

	.squares {
		display: inline-block;
	 	width: 500px;
	 	height: 320px;
	  	border: 5px black solid;
		background-color: white;
		}

	body {
		background-color: #ffff99;
	}
}